$form-spacing: rem-calc(16);


$font-family: 'Source Sans Pro', sans-serif;
$app-body-background: #f1f3f5;
$font-color: #5b5b5b;
$app-primary-color: #ff5a00;
$app-secondary-color: #c2c9cc;
$app-tertiary-color: #dae2e6;
$app-alert-color: #ff4d4d;
$app-black: #171a1f;
$app-white: #fff;
$app-light-gray: #e4e8e9;
$app-medium-gray: #cacaca;
$app-dark-gray: #8b9092;
$app-very-dark-gray: #333a3f;
$app-common-color-1: #fafafa;
$app-info-color: #3498db;
$app-green: #3ebdb7;
$app-green-bg: #e7f6f5;
$app-green-subtle: #e8f4f3;
$app-green-bg-subtle: #f3fcfb;

$loading-color-1: $app-primary-color;
$loading-color-2: $app-secondary-color;
